<!DOCTYPE html>
<html>

<head>
    <title>@Resources.Text["Title"]</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <link href="https://cdn.zywave.com/@@zywave/zui-logo@@latest/dist/icons/apple-icon-180.png" rel="apple-touch-icon"
        sizes="180x180">
    <link href="https://cdn.zywave.com/@@zywave/zui-logo@@latest/dist/icons/favicon-32x32.png" rel="icon"
        type="image/png" sizes="32x32">
    <link href="https://cdn.zywave.com/@@zywave/zui-logo@@latest/dist/icons/favicon-16x16.png" rel="icon"
        type="image/png" sizes="16x16">
    <link href="https://cdn.zywave.com/@@zywave/zui-logo@@latest/dist/icons/site.webmanifest" rel="manifest">
    <link href="https://cdn.zywave.com/@@zywave/zui-logo@@latest/dist/icons/safari-pinned-tab.svg" rel="mask-icon"
        color="#1C5597">
    <link href="https://cdn.zywave.com/@@zywave/zui-logo@@latest/dist/icons/favicon.ico" rel="shortcut icon">
    <meta content="https://cdn.zywave.com/@@zywave/zui-logo@@latest/dist/icons/browserconfig.xml"
        name="msapplication-config">
    <meta content="#1C5597" name="theme-color">

    <link rel="stylesheet" href="https://cdn.zywave.com/@@zywave/zui-bundle@@latest/dist/css/zui-bundle.fouc.css" />
    <link rel="stylesheet" href="https://cdn.zywave.com/@@zywave/zui-bundle@@latest/dist/css/zui-bundle.app.css" />
    <script type="importmap">
		{
			"imports": {
				"lit": "https://cdn.zywave.com/lit@2.3.1/index.js?module",
				"lit/": "https://cdn.zywave.com/lit@2.3.1/",
				"@@lit/": "https://cdn.zywave.com/@@lit/",
				"lit-html/": "https://cdn.zywave.com/lit-html@2.3.1/",
				"tslib": "https://cdn.zywave.com/tslib@2.3.0/tslib.es6.js"			}
		}
	</script>
    <script type="module" src="~/packages/content-smart-content/content-smart-content.js"></script>


    <environment names="Development">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link asp-append-version="true" href="~/css/site.min.css" rel="stylesheet" />
    </environment>
</head>

<body>
    @{
        var profileTokenClaim = ((ClaimsPrincipal)User).FindFirst(ProfileClaimTypes.Token);
        var profileToken = profileTokenClaim != null ? profileTokenClaim.Value : null;
    }
    <zywave-api-proxy api-base-url="https://localhost:5001/apiproxy/" profile-token="@profileToken">
    </zywave-api-proxy>
    <zywave-shell logout-user-url="@Url.Content("~/signout-oidc")" active-nav-id="@ViewBag.NavId"
        profile-switch-type-codes='["B"]'>
        <div class="zui-layout">
            @RenderBody()
        </div>
        <zui-search unresolved id="queryText" placeholder="@Resources.Text["SearchGhostLabel"]" slot="search">
        </zui-search>
    </zywave-shell>

    <script type="module" src="https://cdn.zywave.com/@@zywave/zui-bundle@@latest/dist/bundle.js"></script>
    <script type="module"
        src="https://cdn.zywave.com/@@zywave/zywave-api-toolkit-bundle@@latest/dist/bundle.js"></script>
    <environment names="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script asp-append-version="true" src="~/js/site.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)

    <keep-alive></keep-alive>
</body>

</html>
