<div>
    <h2>
        @Resources.Text["Header"]
    </h2>
    <p>
        @Resources.Text["Description"]
    </p>
    <content-smart-content api-base-url="https://localhost:5001/"></content-smart-content>
</div>