<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ZUI Web Component Skeleton">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#fff">
    <title><%= componentClassName %> Demo</title>

    <link rel="stylesheet" href="../../../node_modules/@zywave/zui-app-styles/dist/zui-app-styles.css" />
    <link rel="stylesheet" href="../../../node_modules/@zywave/zui-base-styles/dist/zui-base-styles.css" />
    <link rel="stylesheet" href="./dist/css/<%= componentName %>.fouc.css" />
    <script src="./dist/index.js" type="module" async></script>

    <style>
      body {
        padding: 2em;
      }
    </style>
  </head>

  <body>
    <h1><%= componentName %></h1>
    
    <<%= componentName %>></<%= componentName %>>

    <script>
      // Uncomment to test FOUC styling
      // customElements.define = function () { };
    </script>
  </body>
</html>