<%= componentName %>:not(:defined) *,
<%= componentName %>:not(:defined) *::before,
<%= componentName %>:not(:defined) *::after {
  box-sizing: inherit;
}

<%= componentName %>:not(:defined) {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: var(--zui-font-size, 0.875rem);
  font-weight: 400;
  line-height: var(--zui-line-height, 1.6);
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* keep base styles above, add custom FOUC styles beneath this... */
}
