:host {
  display: block; // browsers will do "display: inline" by default because backwards compatibility
  // add your styles here
}

:host([compound-word]) {
  // if boolean attribute is true, apply styles below
  color: var(--<%= componentName %>-prop-name, var(--zui-blue));
}

slot[name="baz"] {
  // only style the content assigned to the named slot baz
  font-weight: 600;
  background-color: #ff69b4;
}
